In [1]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
%matplotlib inline

In [2]:
df = pd.read_csv('https://raw.githubusercontent.com/jackiekazil/data-wrangling/master/data/chp3/data-text.csv') 
df.head(2)

,Indicator,PUBLISH STATES,Year,WHO region,World Bank income group,Country,Sex,Display Value,Numeric,Low,High,Comments
0,Life expectancy at birth (years),Published,1990,Europe,High-income,Andorra,Both sexes,77,77.0,NaN,NaN,NaN
1,Life expectancy at birth (years),Published,2000,Europe,High-income,Andorra,Both sexes,80,80.0,NaN,NaN,NaN

In [3]:
df1 = pd.read_csv('https://raw.githubusercontent.com/kjam/data-wrangling-pycon/master/data/berlin_weather_oldest.csv') 
df1.head(2)

,STATION,STATION_NAME,DATE,PRCP,SNWD,SNOW,TMAX,TMIN,WDFG,PGTM,...,WT09,WT07,WT01,WT06,WT05,WT04,WT16,WT08,WT18,WT03
0,GHCND:GME00111445,BERLIN TEMPELHOF GM,19310101,46,-9999,-9999,-9999,-11,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
1,GHCND:GME00111445,BERLIN TEMPELHOF GM,19310102,107,-9999,-9999,50,11,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4656 entries, 0 to 4655
Data columns (total 12 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Indicator                4656 non-null   object
 1   PUBLISH STATES           4656 non-null   object
 2   Year                     4656 non-null   int64
 3   WHO region               4656 non-null   object
 4   World Bank income group  4656 non-null   object
 5   Country                  4656 non-null   object
 6   Sex                      4656 non-null   object
 7   Display Value            4656 non-null   int64
 8   Numeric                  4656 non-null   float64
 9   Low                      0 non-null      float64
 10  High                     0 non-null      float64
 11  Comments                 0 non-null      float64
dtypes: float64(4), int64(2), object(6)
memory usage: 436.6+ KB

In [7]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 117208 entries, 0 to 117207
Data columns (total 21 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   STATION       117208 non-null  object
 1   STATION_NAME  117208 non-null  object
 2   DATE          117208 non-null  int64
 3   PRCP          117208 non-null  int64
 4   SNWD          117208 non-null  int64
 5   SNOW          117208 non-null  int64
 6   TMAX          117208 non-null  int64
 7   TMIN          117208 non-null  int64
 8   WDFG          117208 non-null  int64
 9   PGTM          117208 non-null  int64
 10  WSFG          117208 non-null  int64
 11  WT09          117208 non-null  int64
 12  WT07          117208 non-null  int64
 13  WT01          117208 non-null  int64
 14  WT06          117208 non-null  int64
 15  WT05          117208 non-null  int64
 16  WT04          117208 non-null  int64
 17  WT16          117208 non-null  int64
 18  WT08          117208 non-null  int64
 19  WT18          117208 non-null  int64
 20  WT03          117208 non-null  int64
dtypes: int64(19), object(2)
memory usage: 18.8+ MB

In [17]:
# Get the row names as an array
row_names = df.index.to_numpy()

row_names

array([   0,    1,    2, ..., 4653, 4654, 4655], dtype=int64)

In [20]:
df.columns

Index(['Indicator', 'PUBLISH STATES', 'Year', 'WHO region',
       'World Bank income group', 'Country', 'Sex', 'Display Value', 'Numeric',
       'Low', 'High', 'Comments'],
      dtype='object')

In [25]:
df = df.rename(columns = {'Indicator':'Indicator Id','Year':'Years'})

In [26]:
df

,Indicator Id,PUBLISH STATES,Years,WHO region,World Bank income group,Country,Sex,Display Value,Numeric,Low,High,Comments
0,Life expectancy at birth (years),Published,1990,Europe,High-income,Andorra,Both sexes,77,77.0,NaN,NaN,NaN
1,Life expectancy at birth (years),Published,2000,Europe,High-income,Andorra,Both sexes,80,80.0,NaN,NaN,NaN
2,Life expectancy at age 60 (years),Published,2012,Europe,High-income,Andorra,Female,28,28.0,NaN,NaN,NaN
3,Life expectancy at age 60 (years),Published,2000,Europe,High-income,Andorra,Both sexes,23,23.0,NaN,NaN,NaN
4,Life expectancy at birth (years),Published,2012,Eastern Mediterranean,High-income,United Arab Emirates,Female,78,78.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
4651,Healthy life expectancy (HALE) at birth (years),Published,2012,Western Pacific,Lower-middle-income,Samoa,Female,66,66.0,NaN,NaN,NaN
4652,Healthy life expectancy (HALE) at birth (years),Published,2012,Eastern Mediterranean,Low-income,Yemen,Both sexes,54,54.0,NaN,NaN,NaN
4653,Healthy life expectancy (HALE) at birth (years),Published,2000,Africa,Upper-middle-income,South Africa,Male,49,49.0,NaN,NaN,NaN
4654,Healthy life expectancy (HALE) at birth (years),Published,2000,Africa,Low-income,Zambia,Both sexes,36,36.0,NaN,NaN,NaN
4655,Healthy life expectancy (HALE) at birth (years),Published,2012,Africa,Low-income,Zimbabwe,Female,51,51.0,NaN,NaN,NaN

In [27]:
sorted(df['Years'])

[1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 1990,
 ...]

In [35]:
col = ['Indicator Id', 'WHO region', 'Country','Years']
sdf = df.sort_values(col)
sdf

,Indicator Id,PUBLISH STATES,Years,WHO region,World Bank income group,Country,Sex,Display Value,Numeric,Low,High,Comments
3408,Healthy life expectancy (HALE) at birth (years),Published,2000,Africa,Upper-middle-income,Algeria,Both sexes,60,60.0,NaN,NaN,NaN
3734,Healthy life expectancy (HALE) at birth (years),Published,2000,Africa,Upper-middle-income,Algeria,Male,59,59.0,NaN,NaN,NaN
4114,Healthy life expectancy (HALE) at birth (years),Published,2000,Africa,Upper-middle-income,Algeria,Female,61,61.0,NaN,NaN,NaN
3409,Healthy life expectancy (HALE) at birth (years),Published,2012,Africa,Upper-middle-income,Algeria,Male,62,62.0,NaN,NaN,NaN
3735,Healthy life expectancy (HALE) at birth (years),Published,2012,Africa,Upper-middle-income,Algeria,Both sexes,62,62.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
1915,Life expectancy at birth (years),Published,2000,Western Pacific,Low-income,Viet Nam,Both sexes,73,73.0,NaN,NaN,NaN
3096,Life expectancy at birth (years),Published,2000,Western Pacific,Low-income,Viet Nam,Female,78,78.0,NaN,NaN,NaN
286,Life expectancy at birth (years),Published,2012,Western Pacific,Low-income,Viet Nam,Male,71,71.0,NaN,NaN,NaN
669,Life expectancy at birth (years),Published,2012,Western Pacific,Low-income,Viet Nam,Both sexes,76,76.0,NaN,NaN,NaN
1073,Life expectancy at birth (years),Published,2012,Western Pacific,Low-income,Viet Nam,Female,80,80.0,NaN,NaN,NaN

In [38]:
df.iloc[1, 2]

2000

In [52]:
clist = list(df.columns)
Clist = clist[5:6] + clist[0:5]+clist[6:]
Clist

['Country',
 'Indicator Id',
 'PUBLISH STATES',
 'Years',
 'WHO region',
 'World Bank income group',
 'Sex',
 'Display Value',
 'Numeric',
 'Low',
 'High',
 'Comments']

In [51]:
df[Clist]

,Country,Indicator Id,PUBLISH STATES,Years,WHO region,World Bank income group,Sex,Display Value,Numeric,Low,High,Comments
0,Andorra,Life expectancy at birth (years),Published,1990,Europe,High-income,Both sexes,77,77.0,NaN,NaN,NaN
1,Andorra,Life expectancy at birth (years),Published,2000,Europe,High-income,Both sexes,80,80.0,NaN,NaN,NaN
2,Andorra,Life expectancy at age 60 (years),Published,2012,Europe,High-income,Female,28,28.0,NaN,NaN,NaN
3,Andorra,Life expectancy at age 60 (years),Published,2000,Europe,High-income,Both sexes,23,23.0,NaN,NaN,NaN
4,United Arab Emirates,Life expectancy at birth (years),Published,2012,Eastern Mediterranean,High-income,Female,78,78.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
4651,Samoa,Healthy life expectancy (HALE) at birth (years),Published,2012,Western Pacific,Lower-middle-income,Female,66,66.0,NaN,NaN,NaN
4652,Yemen,Healthy life expectancy (HALE) at birth (years),Published,2012,Eastern Mediterranean,Low-income,Both sexes,54,54.0,NaN,NaN,NaN
4653,South Africa,Healthy life expectancy (HALE) at birth (years),Published,2000,Africa,Upper-middle-income,Male,49,49.0,NaN,NaN,NaN
4654,Zambia,Healthy life expectancy (HALE) at birth (years),Published,2000,Africa,Low-income,Both sexes,36,36.0,NaN,NaN,NaN
4655,Zimbabwe,Healthy life expectancy (HALE) at birth (years),Published,2012,Africa,Low-income,Female,51,51.0,NaN,NaN,NaN

In [59]:
df.dtypes

Indicator Id                object
PUBLISH STATES              object
Years                        int64
WHO region                  object
World Bank income group     object
Country                     object
Sex                         object
Display Value                int64
Numeric                    float64
Low                        float64
High                       float64
Comments                   float64
dtype: object

In [62]:
newClist = df['WHO region'].to_numpy()
newClist

array(['Europe', 'Europe', 'Europe', ..., 'Africa', 'Africa', 'Africa'],
      dtype=object)

In [73]:
newSet = df.iloc[[11, 24, 37]]
pf = pd.DataFrame(newSet)
pf

,Indicator Id,PUBLISH STATES,Years,WHO region,World Bank income group,Country,Sex,Display Value,Numeric,Low,High,Comments
11,Life expectancy at birth (years),Published,2012,Europe,High-income,Austria,Female,83,83.0,NaN,NaN,NaN
24,Life expectancy at age 60 (years),Published,2012,Western Pacific,High-income,Brunei Darussalam,Female,21,21.0,NaN,NaN,NaN
37,Life expectancy at age 60 (years),Published,2012,Europe,High-income,Cyprus,Female,26,26.0,NaN,NaN,NaN

In [79]:
# List of rows to exclude
exclude_list = [5, 12, 23, 56]

# Boolean mask to keep rows not in the exclude list
mask = ~df.index.isin(exclude_list)

# Get subset using iloc and the mask
df_subset = df.iloc[mask]

# Print the subset
pf = pd.DataFrame(df_subset)
pf.head(10)

,Indicator Id,PUBLISH STATES,Years,WHO region,World Bank income group,Country,Sex,Display Value,Numeric,Low,High,Comments
0,Life expectancy at birth (years),Published,1990,Europe,High-income,Andorra,Both sexes,77,77.0,NaN,NaN,NaN
1,Life expectancy at birth (years),Published,2000,Europe,High-income,Andorra,Both sexes,80,80.0,NaN,NaN,NaN
2,Life expectancy at age 60 (years),Published,2012,Europe,High-income,Andorra,Female,28,28.0,NaN,NaN,NaN
3,Life expectancy at age 60 (years),Published,2000,Europe,High-income,Andorra,Both sexes,23,23.0,NaN,NaN,NaN
4,Life expectancy at birth (years),Published,2012,Eastern Mediterranean,High-income,United Arab Emirates,Female,78,78.0,NaN,NaN,NaN
6,Life expectancy at age 60 (years),Published,1990,Americas,High-income,Antigua and Barbuda,Male,17,17.0,NaN,NaN,NaN
7,Life expectancy at age 60 (years),Published,2012,Americas,High-income,Antigua and Barbuda,Both sexes,22,22.0,NaN,NaN,NaN
8,Life expectancy at birth (years),Published,2012,Western Pacific,High-income,Australia,Male,81,81.0,NaN,NaN,NaN
9,Life expectancy at birth (years),Published,2000,Western Pacific,High-income,Australia,Both sexes,80,80.0,NaN,NaN,NaN
10,Life expectancy at birth (years),Published,2012,Western Pacific,High-income,Australia,Both sexes,83,83.0,NaN,NaN,NaN